.seat-selection{
    margin:10px auto;
    width: 950px;
  }
  .seat-selection *{
    padding:0;
    margin:0;
  }
  .seat-selection .seat-area{
     text-align: center;
  }
  .seat-selection .seat-area .seat-area-desc{
       line-height: 35px;
  }
  .seat-selection .seat-row-seat{
    display: inline-block;
      border: 1px solid transparent;
      text-align: center;
      width: 18px;
      height: 18px;
      margin: 2px;
      vertical-align: -webkit-baseline-middle;
      border-radius: 2px;
  }
  
  .seat-selection .seat-row-seat span{
    display: block;
      width: 14px;
      height: 14px;
      margin: 1px 0px 0px 1px;
      background: #b9b9b9;
      border-radius: 2px;
      border: 1px solid #ffffff;
  }
  
  .seat-selection .seat-row-seat.seat-yes{
    border-color:#8a8a8a;
    background-color:#fafafa;
  }
  .seat-selection .seat-row-seat.can-select{
    background-color:#fff;
      cursor: pointer;
  }
  .seat-selection .seat-row-seat.can-select span{
    background-color:#fff;
    font-size:0.8em;
  }

  .seat-selection .seat-row-seat.current-selected.can-select span{
    background-color:#41db41;
  }
  .seat-selection .seat-row-seat.current-selected.can-select:hover span{
    background-color:#41db41;
  }
  .seat-selection .seat-row-seat.can-select:hover span{
    background-color:#dcdcdc;
  }
  .seat-selection .row-indicator{
    margin-right: 10px;
    color: green;
  }